.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.fseventsd
.DocumentRevisions-V100
.TemporaryItems

DerivedData/
build/
*.xcworkspace
*.xcuserdatad
*.xcuserstate
*.xcscmblueprint

.vscode/
.idea/
*.iml
*.swp
*~.swp

*.tmp
*.log
*.lock
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*